
/* Styles for the logo image */

.logo-img:hover {
    scale : 1.02; 
    transition : 0.2s ease-in-out;
    display: inline-block

}



/* Keyframes for the sweep animation */
@keyframes sweep {
    0% {
        filter: invert(0); /* Start with no inversion (normal colors) */
    }
    100% {
        filter: invert(1); /* End with full inversion (colors inverted) */
    }
}

/* Keyframes for the unsweep animation (hover removed) */
@keyframes unsweep {
    0% {
        filter: invert(1); /* Start with full inversion (colors inverted) */
    }
    100% {
        filter: invert(0); /* End with no inversion (normal colors) */
    }
}
