.underline-animation {
  position: relative;
}

.underline-animation::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--secondary);
  transition: width 0.3s ease-in-out;
}

.underline-animation:hover::before,
.underline-animation.active::before {
  width: 100%;
}
